<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    <div class="container">

        <div id=currentgold class="m-3 text-center">
            <h3>Your current gold is {{ request.session.gold }}</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/farm.jpg' %}" class="card-img-top" alt="farm">
                    <div class="card-body">
                        <h1 class="text-center">Farm</h1>
                        <p class="card-text text-center">Earns 10-20 golds</p>
                        <form action="/process_money" method="POST" class="text-center">
                            {% csrf_token %}
                            <button class="btn btn-primary text" type="submit" name="processmoney" value="Farm">
                                Find gold
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/cave.jpg'%}" class="card-img-top" alt="Cave">
                    <div class="card-body">
                        <h1 class="text-center">Cave</h1>
                        <p class="card-text text-center">Earns 5-10 golds</p>
                        <form action="/process_money" method="POST" class="text-center">
                            {% csrf_token %}
                            <button class="btn btn-primary text" type="submit" name="processmoney" value="Cave">
                                Find gold
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/house.jpg'%}" class="card-img-top" alt="house">
                    <div class="card-body">
                        <h1 class="text-center">House</h1>
                        <p class="card-text text-center">Earns 2-5 golds</p>
                        <form action="/process_money" method="POST" class="text-center">
                            {% csrf_token %}
                            <button class="btn btn-primary text" type="submit" name="processmoney" value="House">
                                Find gold
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/casino.jpg'%}" class="card-img-top" alt="casino">
                    <div class="card-body">
                        <h1 class="text-center">Casino</h1>
                        <p class="card-text text-center">Earns/takes 0-50 golds</p>
                        <form action="/process_money" method="POST" class="text-center">
                            {% csrf_token %}
                            <button class="btn btn-primary text" type="submit" name="processmoney" value="Casino">
                                Find gold
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="activities" class="m-3">
            <h4 class="text-center mb-3">Activities</h4>
            <div class="col-6 offset-3 overflow-auto" id='mensajes'>
            {% for num in request.session.message_list %}
                {% if num < 0 %}
                    <p class="text-danger">Usted ha perdido {{num}}</p>
                {% elif num > 0 %}
                    <p class="text-success">Usted ha ganado {{num}}</p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <form action="/reset" class="text-center" method="post">
            {% csrf_token %}
            <button class="btn btn-primary">Reset</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>